{%extends 'base.html'%}
{%block body_block %}
<body>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{property.name}}</h5>
          <p class="card-text">{{property.address}}</p>
          <p class="card-text">{{property.features}}</p>
          <p class="card-text">{{property.location}}</p>


        </div>
    
      </div>
      <div>
        <table class="d-flex table table-stripped border">
            <tr>
                <td>Property</td>
                <td>type</td>
                <td>rent</td>
                <td>Action</td>
            </tr>
            {% for u in property.unit_set.all%}
            <tr>
                <td>{{u.property}}</td>
                <td>{{u.type}}</td>
                <td>{{u.rent_cost}}</td>
            </tr>
            {%endfor%}
        </table>
      </div>
    
    
    {%endblock%}